// Import Base Styles
@import 'src/sass/styles.scss';
.enter-screen {
    max-width: 600px;
    width: 100%;
    height: 666px;
    background: $container-bg-color;
    box-shadow: 0 2px 10px 1px rgba($color-black, 0.1);
    border-radius: 8px;
    padding: 55px 15px;
    @include respond-to(md) {
        height: auto;
        max-width: 440px;
        padding: 60px 15px;
    }
    @include respond-to(xs) {
        padding: 40px 15px 50px;
    }
    &--login {
        @include respond-to(md-up) {
            padding: 100px 15px 60px;
        }
        .enter-screen__logo {
            @include respond-to(md-up) {
                margin-bottom: 110px;
            }
        }
    }
    &__wrapper {
        position: relative;
        padding: 20px 15px 30px;
        min-height: 100%;
    }
    &__logo {
        height: 100px;
        margin-bottom: 65px;
        @include respond-to(xs) {
            margin-bottom: 40px;
            height: 70px;
        }
        img {
            display: block;
            height: 100%;
            margin: 0 auto;
        }
    }
    &__form {
        max-width: 250px;
        margin: 0 auto;
    }
    &__footer {
        margin-top: 55px;
        @include respond-to(xs) {
            margin-top: 35px;
        }
        .btn {
            width: 115px;
        }
    }
    &__request-submitted{
      text-align: center;
      max-width: 250px;
      margin: 0 auto;
    }
    &__title{
      max-width: 300px;
      margin: 0 auto 30px;
      text-align: center;
      &--sm{
        max-width: 250px;
      }
      h2{
        @include fsz(24px);
        line-height: 1.3;
        margin-bottom: 15px;
      }
      p{
        @include fsz(14px);
        line-height: 1.4;
      }
    }
    &__icon-wrapper{
      display: block;
      @include fsz(36px);
      margin-bottom: 20px;
      text-align: center;
    }
    &__icon {
      &--primary{
        color: $color-primary;
      }
      &--success{
        color: $color-state-success;
      }
      &--warning{
        color: $color-state-warning;
      }
    }
}

.submit-result {
  margin-top: 26px;
  @include fsz(24px);
  margin-bottom: 15px;
}
.submit-message {
  @include fsz(18px);
  line-height: 1.25;
  margin-bottom: 50px;
  color: $resolve-message-color;
}

.check-submit {
  display: inline-block;
  @include fsz(36px);
  &.success {
      color: $color-state-success;
  }
  &.warning {
      color: $color-state-warning;
  }
}
