<div class="enter-screen__wrapper d-flex justify-content-center align-items-center">
    <div class="enter-screen enter-screen--login">
        <div class='enter-screen__logo'>
            <img src="assets/imgs/logo_cc.svg">
        </div>
        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="enter-screen__form">
                <div class="form-group">
                    <input type="text" class="form-control form-control--underlined" [ngClass]="{
                    'is-invalid': form.controls.name.invalid && form.controls.name.dirty
                  }" formControlName="name" placeholder="User Name" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control--underlined" [ngClass]="{
                    'is-invalid': form.controls.password.invalid && form.controls.password.dirty
                  }" formControlName="password" placeholder="Password" required>
                </div>
                <div class='message error' *ngIf="errorRequest && form.invalid">
                    <div>{{errorMessage}}</div>
                </div>
                <button class="btn btn-primary btn-block" type="submit" [disabled]="inProcess">Sign In</button>
                <div class="enter-screen__footer d-flex justify-content-between">
                    <button type="button" class="btn btn-sm btn-default btn-icon" (click)="forgotPassword()"><span class="icon"><i class="fal fa-sm fa-unlock"></i></span> Forgot Password</button>
                    <button type="button" class="btn btn-sm btn-default btn-icon" (click)="requestAccess()"><span class="icon"><i class="fal fa-sm fa-user-plus"></i></span> Request Access</button>
                </div>
            </div>
        </form>
    </div>
</div>