<div class="enter-screen__wrapper d-flex justify-content-center align-items-center">
    <div class="enter-screen">
        <div class='enter-screen__logo'>
            <img src="assets/imgs/logo_cc.svg">
        </div>
        <div class="enter-screen__icon-wrapper">
            <span class="enter-screen__icon enter-screen__icon--primary" *ngIf="user.id && !isSuccess"><i class="fal fa-lock-open"></i></span>
            <span class="enter-screen__icon enter-screen__icon--success" *ngIf="user.id && isSuccess"><i class="fal fa-lock"></i></span>
            <span class="enter-screen__icon enter-screen__icon--warning" *ngIf="!user.id"><i class="fal fa-unlink"></i></span>
        </div>
        <div *ngIf="!isSuccess" class="enter-screen__title enter-screen__title--sm">
            <h2>
                <span *ngIf="user.user_roles_id === 1">Reset Password</span>
                <span *ngIf="user.user_roles_id && user.user_roles_id !== 1">Employee Password Reset</span>
                <span *ngIf="!user.id">Link Expired</span>
            </h2>
            <p>
                <span *ngIf="!user.user_roles_id">Your reset password link has expired. To generate a new link click on the forgot password button below.</span>
                <span *ngIf="user.user_roles_id === 1">Please enter a new password below</span>
                <span *ngIf="user.user_roles_id && user.user_roles_id !== 1">
                    To reset the password for {{user.user_name}} please enter a new password below
                </span>
            </p>
        </div>
        <form *ngIf="!isSuccess && user.id" [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="enter-screen__form">
                <div class="form-group">
                    <input #inputPassword type="password" class="form-control form-control--underlined" [ngClass]="{'is-invalid': form.controls.password.invalid && form.controls.password.dirty, 'is_filled': form.value.password}" id="inputPassword" formControlName="password"
                        placeholder="New Password">
                    <span *ngIf="inputPassword.type==='text'" class="password-eye" (click)="inputPassword.type='password'"><i class="fal fa-eye-slash"></i></span>
                    <span *ngIf="inputPassword.type==='password'" class="password-eye" (click)="inputPassword.type='text'"><i class="fal fa-eye"></i></span>
                </div>
                <button class="btn btn-primary btn-block" type="submit" [disabled]="inProcess">Submit</button>
            </div>
        </form>
        <div *ngIf="!user.id" class="enter-screen__footer enter-screen__form d-flex justify-content-between">
            <button type="button" class="btn btn-sm btn-default btn-icon" (click)="goForgotPassword()"><span class="icon"><i class="fal fa-sm fa-unlock"></i></span> Forgot Password</button>
            <button type="button" class="btn btn-sm btn-default btn-icon" (click)="goLogin()"><span class="icon"><i class="fal fa-sm fa-sign-in"></i></span> Login</button>
        </div>

        <div *ngIf="isSuccess" class="enter-screen__request-submitted">
            <h2 class="submit-result">
                <span *ngIf="user.user_roles_id === 1">Password Updated!</span>
                <span *ngIf="user.user_roles_id !== 1">Employee Password updated!</span>
            </h2>
            <p class="submit-message">
                <span *ngIf="user.user_roles_id === 1" class="admin">You password has successfully been updated</span>
                <span *ngIf="user.user_roles_id !== 1" class="employee">The password for {{user.user_name}} has been updated. They have received a notification of their new password</span>
            </p>
            <button class="btn btn-primary btn-block" (click)="goLogin()">LOGIN</button>
        </div>
    </div>
</div>
