<app-filter-staff [usersNumber]="usersNumber" [searchInputSubject]="searchInput" (filterChange)="setFilter($event)" (newStaff)="newStaff()"></app-filter-staff>
<table class="table">
    <thead>
        <tr>
            <th class="table__patient" scope="col" (click)="setSortBy('user')">User name
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='user'"></app-sort-order>
            </th>
            <th class="table__role" scope="col" (click)="setSortBy('role')">Role
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='role'"></app-sort-order>
            </th>
            <th class="table__action" scope="col">Action
            </th>
            <th class="table__resolution" scope="col" (click)="setSortBy('status')">Status
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='status'"></app-sort-order>
            </th>
        </tr>
    </thead>
</table>
<div class="scrolled-table" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <table class="table">
        <tbody>
            <tr *ngFor="let user of users">
                <td class="table__patient">{{user.user_name}}</td>
                <td class="table__role">{{user.user_role.name}}</td>
                <td class="table__action">
                    <button type="button" class="btn btn-sm btn-icon btn-link" (click)="editStaff(user)">
                      <span><i class="fal fa-pen"></i></span>
                      <span>Edit</span>
                    </button>
                </td>
                <td class="table__resolution">
                    {{user.user_status.name}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="calls-empty" *ngIf="!users.length">
    <span class="calls-empty__icon"><i class="fal fa-search"></i></span>
    <div class="calls-empty__text">There aren't any results for that query.</div>
</div>