<!DOCTYPE html>
<html>

<head>
    <title>Employee Reset Password Request</title>
</head>

<body>
    <div style="max-width: 600px; max-height: 665px; text-align: center;">
        <span>
                <img src="{{assetsUrl}}/imgs/logo_cc.png">
            </span>
        <h3 style="font-size: 24px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.29;
                letter-spacing: normal;
                text-align: center;
                color: #242424;">
            Employee Reset Password Request
        </h3>
        <p style="font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #093bbc;">
            {{username}} has request a password reset. To reset the password please click on the button bellow:
        </p>
        <a href="{{url}}" style="width: 250px;
                height: 40px;
                display: inline-block;
                line-height: 40px;
                border-radius: 4px;
                background-color: #093bbc;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(50, 50, 93, 0.11);
                font-size: 14px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: center;
                color: #f4f5f7;">
                Reset Employee Password
            </a>
    </div>
</body>

</html>