<div class="d-flex flex-wrap w-100">
    <aside class="dashboard-aside-nav">
        <a class="dashboard-aside-nav__link" routerLink="patients" routerLinkActive="active" #rla="routerLinkActive" role="button">
            <span *ngIf="rla.isActive"><i class="fal fa-bed"></i></span>
            <span *ngIf="!rla.isActive"><i class="fas fa-bed"></i></span> Patients
        </a>
        <a class="dashboard-aside-nav__link" routerLink="staff" routerLinkActive="active" #rla="routerLinkActive" role="button">
            <span *ngIf="rla.isActive"><i class="fas fa-user-md"></i></span>
            <span *ngIf="!rla.isActive"><i class="fal fa-user-md"></i></span> Staff
        </a>
    </aside>
    <div class="dashboard-main d-flex">
        <div class="dashboard-main__content w-100">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
