<!--
  Generated template for the CallRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-toolbar class="home-title">
        <div float-left class="patient-name">
            {{patient.first_name}} {{patient.last_name}}
        </div>
        <ion-buttons right>
            <button ion-button icon-only (click)="logoutDialog()">
                <img class="exit-icon" src='./assets/imgs/exit.svg'>
              </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar class="home-subtitle">
        <div float-left class="patient-room">
            Room: {{patient.room_number}}
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card [className]="'card-' + callType.id">
        <div class='call-icon'><img src='./assets/imgs/{{callType.icon_name}}'></div>
        <div class='calling'>Calling</div>
        <div class='call-subtitle'>{{callType.subtitle}} {{callType.title}}</div>
        <div class='message'>
            Your call has been submitted. The nursing staff will be there to assist shortly.
        </div>
    </ion-card>
    <button ion-button block class="cancel-call" color="light" (click)='cancelCallDialog()'>Cancel Call</button>
</ion-content>