page-call-request {
    ion-toolbar.home-title {
        padding-top: 40px !important;
        padding-bottom: 5px !important;
    }
    ion-toolbar.home-subtitle {
        padding-bottom: 27px !important;
    }
    ion-toolbar {
        .toolbar-background {
            background-color: #FFFFFF !important;
        }
        padding: 0px 20.5px !important;
        min-height: 0px !important;
        .exit-icon {
            height: 23px;
            width: 23px;
        }
        .patient-name {
            color: #282E33;
            font-family: 'sans-serif';
            font-size: 36px;
            font-weight: 900;
            line-height: 24px;
            text-align: center;
        }
        .patient-room {
            color: #6C7C93;
            font-family: 'sans-serif';
            font-size: 14px;
            line-height: 24px;
        }
    }
    ion-content .scroll-content {
        padding: 0px 20px !important;
        display: flex;
        flex-direction: column;
    }
    ion-card {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background-color: #FF30A0;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        padding-left: 25px;
        padding-right: 25px;
        .call-icon {
            width: 50px;
            height: 50px;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .calling {
            color: #FFFFFF;
            font-family: "sans-serif";
            font-size: 20px;
            line-height: 24px;
            margin-top: 19px;
        }
        .call-subtitle {
            color: #FFFFFF;
            font-family: "sans-serif";
            font-size: 24px;
            font-weight: bold;
            line-height: 28px;
            text-align: center;
        }
        .message {
            margin-top: 40px;
            color: #FFFFFF;
            font-family: "sans-serif";
            font-size: 20px;
            line-height: 32px;
            text-align: center;
        }
    }
    .cancel-call {
        border: 1px solid #CBCBCB;
        border-radius: 5px;
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: #FFFFFF;
        color: #000000;
        font-family: "sans-serif";
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
}