// Import Base Styles
@import 'src/sass/styles.scss';
.modal-header{
  padding: 30px 15px 50px;
}
.person-header {
  color: $person-header-color;
  &__icon {
    @include fsz(36px);
    margin-bottom: 12px;
  }
  &__heading{
    @include fsz(24px);
    font-weight: $bold;
  }
}
.person-form{
  padding: 0 50px;
}
.modal-footer{
  padding: 5px 50px 50px;
  > div {
    margin: 0;
  }
  &__additional{
    margin-top: 35px !important;
    padding-top: 25px;
    border-top: 1px solid $modal-footer-border-color;
    .btn{
      margin: 0 35px;
    }
  }
}
