<div class="modal-header">
    <div class="person-header mx-auto text-center">
        <div class="person-header__icon"><i class="fal fa-bed"></i></div>
        <h3 class="person-header__heading" *ngIf="action==='new'">Add New Patient</h3>
        <h3 class="person-header__heading" *ngIf="action==='edit'">Edit Patient</h3>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <i class="fal fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" class="person-form">
        <div class="row">
          <div class="col-6">
            <div class="form-group form-group--margin-lg">
                <input type="text" class="form-control form-control--underlined form-control--labeled" [ngClass]="{'is-invalid': form.controls.first_name.invalid && form.controls.first_name.dirty, 'is_filled': form.value.first_name}" id="inputFirstName" formControlName="first_name" placeholder="First name">
                <label for="inputFirstName">First Name</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group form-group--margin-lg">
                <input type="text" class="form-control form-control--underlined form-control--labeled" [ngClass]="{'is-invalid': form.controls.last_name.invalid && form.controls.last_name.dirty, 'is_filled': form.value.last_name}" id="inputLastName" formControlName="last_name" placeholder="Last name">
                <label for="inputLastName">Last Name</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group form-group--margin-lg">
                <input type="text" class="form-control form-control--underlined form-control--labeled" [ngClass]="{'is-invalid': form.controls.room_number.invalid && form.controls.room_number.dirty, 'is_filled': form.value.room_number}" id="inputRoomNumber" formControlName="room_number" placeholder="Room Number">
                <label for="inputRoomNumber">Room Number</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group form-group--margin-lg">
                <input type="text" maxlength="4" class="form-control form-control--underlined form-control--labeled" [ngClass]="{'is-invalid': form.controls.last_four_sn.invalid && form.controls.last_four_sn.dirty, 'is_filled': form.value.last_four_sn}" id="inputLastFourSn" formControlName="last_four_sn" placeholder="Last four of social number">
                <label for="inputLastFourSn">Last four of social number</label>
            </div>
          </div>
        </div>
    </form>
</div>
<div class="modal-footer justify-content-center align-items-stretch flex-column">
    <div class="text-center">
        <button *ngIf="action==='new'" type="button" class="btn btn-primary btn-180" (click)="addPatient()">Add Patient</button>
        <button *ngIf="action==='edit'" type="button" class="btn btn-primary btn-180" (click)="editPatient()">Update</button>
    </div>
    <div class="modal-footer__additional d-flex justify-content-center" *ngIf="action==='edit'">
        <button *ngIf="patient.patient_action.id !== 1" (click)="onAdmit()" type="button" class="btn btn-sm btn-icon btn-link">
            <span class="icon"><i class="fal fa-sm fa-arrow-right"></i></span>
            <span >Admit</span>
        </button>
        <button *ngIf="patient.patient_action.id !== 2" (click)="onDischarge()" type="button" class="btn btn-sm btn-icon btn-link">
          <span class="icon"><i class="fal fa-sm fa-arrow-right"></i></span>
          <span >Discharge</span>
        </button>
        <button *ngIf="patient.patient_action.id !== 3" type="button" class="btn btn-sm btn-icon btn-link btn-danger" (click)="onRemove()">
          <span class="icon"><i class="fal fa-sm fa-trash"></i></span>
          <span>Remove</span>
        </button>
    </div>
</div>
