<app-filter-patients [patientsNumber]="patientsNumber" [searchInputSubject]="searchInput" (filterChange)="setFilter($event)" (newPatient)="newPatient()"></app-filter-patients>
<table class="table">
    <thead>
        <tr>
            <th class="table__patient" scope="col" (click)="setSortBy('patient')">Patient name
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='patient'"></app-sort-order>
            </th>
            <th class="table__room" scope="col" (click)="setSortBy('room')">Room number
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='room'"></app-sort-order>
            </th>
            <th class="table__social" scope="col" (click)="setSortBy('lastFourSn')">Last Four of Social
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='lastFourSn'"></app-sort-order>
            </th>
            <th class="table__action" scope="col">Actions
            </th>
            <th class="table__resolution" scope="col" *ngIf="patientState==='all'" (click)="setSortBy('action')">Status
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='action'"></app-sort-order>
            </th>
        </tr>
    </thead>
</table>
<div class="scrolled-table" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <table class="table">
        <tbody>
            <tr *ngFor="let patient of patients">
                <td class="table__patient">{{patient.patient_name}}</td>
                <td class="table__room">{{patient.room_number}}</td>
                <td class="table__social">{{patient.last_four_sn}}</td>
                <td class="table__action">
                    <button *ngIf="patient.patient_action.id === 1" (click)="setAction('discharge', patient)" type="button" class="btn btn-sm btn-icon btn-link btn-80">
                      <span class="icon"><i class="fal fa-arrow-right"></i></span>
                      <span>Discharge</span>
                    </button>
                    <button *ngIf="patient.patient_action.id !== 1" (click)="setAction('admit', patient)" type="button" class="btn btn-sm btn-icon btn-link btn-80">
                        <span class="icon"><i class="fal fa-arrow-right"></i></span>
                        <span >Admit</span>
                      </button>
                    <button type="button" class="btn btn-sm btn-icon btn-link btn-80" (click)="editPatient(patient)">
                      <span class="icon"><i class="fal fa-pen"></i></span>
                      <span>Edit</span>
                    </button>
                </td>
                <td class="table__resolution" *ngIf="patientState==='all'">
                    {{patient.patient_action.name}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="calls-empty" *ngIf="!patients.length">
    <span class="calls-empty__icon"><i class="fal fa-search"></i></span>
    <div class="calls-empty__text">There aren't any results for that query.</div>
</div>
