// Import Base Styles
@import 'src/sass/styles.scss';
.modal-header {
    padding-top: 30px;
    &__state {
        text-align: center;
        h3 {
            font-weight: $bold;
            @include fsz(36px);
            margin-top: 26px;
        }
    }
    &__icon {
        display: inline-block;
        @include fsz(36px);
        &.success {
            color: $color-state-success;
        }
        &.warning {
            color: $color-state-warning;
        }
    }
    &__subtitle {
        margin-top: 26px;
        @include fsz(24px);
        font-weight: $bold;
        color: $resolve-message-color;
    }
}

.modal-body {
    &__message {
        margin-top: 10px;
        @include fsz(24px);
        line-height: 1.2;
        color: $resolve-message-color;
        padding: 0 50px;
    }
    &__submessage {
        @include fsz(18px);
        line-height: 1.25;
        padding: 0 50px;
    }
}

.modal-footer {
    .btn {
        margin: 0 13px;
    }
}
