<div class="modal-header justify-content-center">
    <div class="modal-header__state">
        <span class="modal-header__icon success" *ngIf="type==='success'"><i class="fal fa-check-circle"></i></span>
        <span class="modal-header__icon warning" *ngIf="type==='warning'"><i class="fal fa-exclamation-circle"></i></span>
        <h3 *ngIf="title">{{title}}</h3>
        <div class="modal-header__subtitle" *ngIf="subTitle">{{subTitle}}</div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
      <i class="fal fa-times"></i>
    </button>
</div>
<div class="modal-body text-center">
    <p class="modal-body__message" *ngIf="message">{{message}}</p>
    <p class="modal-body__submessage" *ngIf="subMessage">{{subMessage}}</p>
</div>
<div class="modal-footer d-flex justify-content-center">
    <div *ngIf="buttonCancelTitle || buttonOkTitle">
        <button *ngIf="buttonCancelTitle" type="button" class="btn btn-outline-primary btn-150" (click)="buttonCancelClick()">{{buttonCancelTitle}}</button>
        <button *ngIf="buttonOkTitle" type="button" class="btn btn-primary btn-150" (click)="buttonOkClick()">{{buttonOkTitle}}</button>
    </div>
</div>