@import 'src/app/calls/filter-calls/filter-calls.component.scss';

.filter-quantity{
  @include fsz(13px);
  font-weight: $bold;
  display: inline-block;
  margin-right: 18px;
}
.calls-filter{
  &--lg-centered{
    @include respond-to(lg){
      justify-content: center;
    }
  }
}
