<div class="calls-filter d-flex align-items-center calls-filter--lg-centered">
    <div class="calls-filter__text">
      Filter calls
    </div>
    <div ngbDropdown class="d-inline-block filter-item" autoClose="outside">
        <button class="btn btn-sm btn-default btn-icon" id="callTypeFilter" [class.filter-item-selected]="callTypeButtonTitle!=='All'" ngbDropdownToggle>{{callTypeButtonTitle}}
          <span class="icon"><i class="fal fa-sm fa-chevron-down"></i></span>
        </button>
        <div ngbDropdownMenu aria-labelledby="callTypeFilter">
            <div class="dropdown-item" *ngFor="let type of callTypes">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [id]="'call_type_' + type.id" [(ngModel)]="type.checked" (change)="callTypeChange()">
                <label class="form-check-label" [for]="'call_type_' + type.id">{{type.short_name}}</label>
              </div>
            </div>
        </div>
        <span class="filter-item__label">Calls</span>
    </div>

    <div ngbDropdown class="d-inline-block filter-item filter-item--radio" autoClose="outside">
        <button class="btn btn-sm btn-default btn-icon" [class.all-range-selected]="currentRange==='All'" id="rangeFilter" ngbDropdownToggle>{{currentRange}}
          <span class="icon"><i class="fal fa-sm fa-chevron-down"></i></span>
        </button>
        <div ngbDropdownMenu aria-labelledby="rangeFilter">
            <div class="dropdown-item" *ngFor="let item of timeRanges; index as i;">
              <div class="form-check">
                <input class="form-check-input" type="radio" [id]="'range_' + i" name="timeRange" [(ngModel)]="currentRange" (change)="timeRangesChange()" [value]="item">
                <label class="form-check-label" [for]="'range_' + i">{{item}}</label>
              </div>
            </div>
        </div>
        <span class="filter-item__label">Range</span>
    </div>

    <div class="filter-item">
        <input type="text" class="btn btn-sm btn-default btn-icon" #searchStaff (keyup)="changeSearchStaff(searchStaff.value)" placeholder="All" aria-label="All" aria-describedby="basic-addon1">
        <span class="icon"><i class="fal fa-xs fa-search"></i></span>
        <span class="filter-item__label" id="basic-addon1">Staff</span>
    </div>
    <button type="button" [class.d-none]="callTypeButtonTitle==='All' && currentRange==='All' && !searchStaff.value" (click)="clearFilters()" class="btn btn-primary btn-sm clear-all">Clear All</button>

    <div class="search-wrap ml-auto">
        <span class="filter-quantity">{{resolvedCallsNumber}} Resolved Calls</span>
        <div class="search-input">
            <input type="text" #searchBox (keyup)="changeSearch(searchBox.value)" class="form-control" placeholder="Search Calls">
            <span class="search-icon">
                <i class="fal fa-search"></i>
            </span>
        </div>
    </div>
</div>
