// Import Base Styles
@import 'src/sass/styles.scss';
:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.scrolled-table {
    align-self: stretch;
    overflow: auto;
}

.calls-empty {
    text-align: center;
    margin-top: 13%;
    &__icon {
        @include fsz(36px);
        color: $color-primary;
    }
    &__text {
        @include fsz(24px);
        font-weight: $light;
        margin-top: 12px;
    }
}