<table class="table">
    <thead>
        <tr>
            <th class="table__time-lapsed" scope="col" (click)="setSortBy('timelapsed')">Time lapsed
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='timelapsed'"></app-sort-order>
            </th>
            <th class="table__room" scope="col" (click)="setSortBy('room')">Room number
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='room'"></app-sort-order>
            </th>
            <th class="table__patient" scope="col" (click)="setSortBy('patient')">Patient name
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='patient'"></app-sort-order>
            </th>
            <th class="table__type" scope="col" (click)="setSortBy('calltype')">Call type
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='calltype'"></app-sort-order>
            </th>
            <th class="table__time-received" scope="col" (click)="setSortBy('timereceived')">Time received
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='timereceived'"></app-sort-order>
            </th>
            <th class="table__id" scope="col" (click)="setSortBy('id')">Call Number
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='id'"></app-sort-order>
            </th>
            <th class="table__action" scope="col">Action</th>
        </tr>
    </thead>
</table>
<div class="scrolled-table" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <table class="table">
        <tbody>
            <tr *ngFor="let call of calls">
                <td class="table__time-lapsed"><span [class]="'icon ' + call.stopWatcherClass"><i class="fas fa-stopwatch"></i></span> {{call.date | amFromUnix | amTimeAgo}}</td>
                <td class="table__room">{{call.patient.room_number}}</td>
                <td class="table__patient">{{call.patient.patient_name}}</td>
                <td [class]="'table__type call-type-' + call.call_types_id"><span class="icon"><i class="fal fa-bell"></i></span> {{call.call_type.short_name}}</td>
                <td class="table__time-received">{{call.date | amFromUnix | amDateFormat:'hh:mmA'}}</td>
                <td class="table__id">{{call.id}}</td>
                <td class="table__action"><button type="button" class="btn btn-sm btn-icon btn-link" (click)="resolveCall(call)"><span class="icon"><i class="fal fa-arrow-right"></i></span> <span>Resolve</span></button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="calls-empty" *ngIf="!callsTotal.all">
    <span class="calls-empty__icon"><i class="fal fa-coffee"></i></span>
    <div class="calls-empty__text">No Open Calls. Enjoy your day!</div>
</div>
<div class="calls-empty" *ngIf="callsTotal.all && !calls.length">
    <span class="calls-empty__icon"><i class="fal fa-search"></i></span>
    <div class="calls-empty__text">There aren't any results for that query.</div>
</div>