<div class="d-flex flex-wrap w-100">
    <aside class="dashboard-aside-nav">
        <a class="dashboard-aside-nav__link" routerLink="open" routerLinkActive="active" #rla="routerLinkActive" role="button">
          <span *ngIf="rla.isActive"><i class="fas fa-bell"></i></span>
          <span *ngIf="!rla.isActive"><i class="fal fa-bell"></i></span>
           Open Calls
         </a>
        <a class="dashboard-aside-nav__link" *ngIf="userData.user && userData.user.user_roles_id === 1" routerLink="resolved" routerLinkActive="active" #rla="routerLinkActive" role="button">
          <span *ngIf="rla.isActive"><i class="fas fa-check-circle"></i></span>
          <span *ngIf="!rla.isActive"><i class="fal fa-check-circle"></i></span>
          Resolved Calls
        </a>
    </aside>
    <div class="dashboard-main d-flex">
        <div class="dashboard-main__content d-flex w-100 h-100">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
