// Import Base Styles
@import 'src/sass/styles.scss';
:host{
  display: flex;
  width: 100%;
  @include respond-to(lg){
    flex-direction: column;
    > .d-flex{
      height: 100%;
    }
  }
}
.dashboard-aside-nav {
  width: 140px;
  box-shadow: 0 0 4px 0 rgba($color-black, 0.37);
  padding: 30px 0;
  height: 100%;
  @include respond-to(lg){
    width: 100%;
    padding: 0;
    height: 33px;
    text-align: center;
  }
  &__link {
    padding: 10px;
    display: block;
    @include fsz(13px);
    color: $dashboard-aside-link-color;
    @include respond-to(lg){
      display: inline-block;
    }
    span{
      display: inline-block;
      margin-right: 5px;
      width: 11px;
      text-align: center;
      opacity: 0.5;
    }
    &.active{
      color: $dashboard-aside-link-color-active;
      font-weight: $bold;
      background: rgba($dashboard-aside-link-color, 0.04);
      span{
        opacity: 1;
      }
    }
  }
}
.dashboard-main {
  padding: 25px 25px 0;
  width: calc(100% - 140px);
  height: 100%;
  @include respond-to(lg){
    width: 100%;
    padding: 15px 0 0;
    height: calc(100% - 33px);
  }
	&__content {
    background: $container-bg-color;
    box-shadow: 0 2px 10px 1px rgba($color-black, 0.1);
    border-radius: 8px 8px 0 0;
    @include respond-to(lg){
      border-radius: 0;
    }
	}
}
