<div class="calls-filter d-flex align-items-center calls-filter--lg-centered">
    <span class="calls-filter__text">Filter users</span>

    <div ngbDropdown class="d-inline-block filter-item" autoClose="outside">
        <button class="btn btn-sm btn-default btn-icon" id="roleFilter" ngbDropdownToggle>{{roleButtonTitle}}
          <span class="icon"><i class="fal fa-sm fa-chevron-down"></i></span>
        </button>
        <div ngbDropdownMenu aria-labelledby="roleFilter">
            <div class="dropdown-item" *ngFor="let role of userRoles">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" [id]="'role_' + role.id" [(ngModel)]="role.checked" (change)="roleChange()">
                    <label class="form-check-label" [for]="'role_' + role.id">{{role.name}}</label>
                </div>
            </div>
        </div>
        <span class="filter-item__label">Role</span>
    </div>

    <div class="d-inline-block filter-item">
        <div class="form-check filter-item__check" [class.filter-item-selected]="statusButtonTitle==='Active'">
            <input class="form-check-input" #statusFilter type="checkbox" id="statusFilter" [checked]="statusButtonTitle==='All'" (change)="setStatus(statusFilter.checked)">
            <label class="btn btn-sm btn-default btn-icon" for="statusFilter">
              {{statusButtonTitle}}
              <span *ngIf="statusButtonTitle==='All'" class="icon"><i class="fal fa-sm fa-toggle-off"></i></span>
              <span *ngIf="statusButtonTitle==='Active'" class="icon"><i class="fal fa-sm fa-toggle-on"></i></span>
            </label>
        </div>
        <span class="filter-item__label">Status</span>
    </div>

    <div class="search-wrap ml-auto">
        <span class="filter-quantity">{{usersNumber}}
          <span *ngIf="statusButtonTitle==='Active'">Active</span> User{{usersNumber !== 1 ? 's' : ''}}
        </span>
        <button type="button" (click)="onNewStaff()" class="btn btn-sm btn-default btn-icon btn-100"><span class="icon"><i class="fal fa-sm fa-user-plus"></i></span> New User</button>
        <div class="search-input">
            <input type="text" #searchBox (keyup)="changeSearch(searchBox.value)" class="form-control" placeholder="Search Staff">
            <span class="search-icon">
              <i class="fal fa-search"></i>
            </span>
        </div>
    </div>
</div>