<app-filter-resolved-calls (filterChange)="setFilter($event)" [searchInputSubject]="searchInput" [searchStaffSubject]="searchStaff" [resolvedCallsNumber]="resolvedCallsNumber">
</app-filter-resolved-calls>
<table class="table table--resolved">
    <thead>
        <tr>
            <th class="table__response-time" scope="col" (click)="setSortBy('responsetime')">Response<br> Time
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='responsetime'"></app-sort-order>
            </th>
            <th class="table__room" scope="col" (click)="setSortBy('room')">Room<br> number
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='room'"></app-sort-order>
            </th>
            <th class="table__patient" scope="col" (click)="setSortBy('patient')">Patient<br> name
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='patient'"></app-sort-order>
            </th>
            <th class="table__type" scope="col" (click)="setSortBy('calltype')">Call<br> type
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='calltype'"></app-sort-order>
            </th>
            <th class="table__time-received" scope="col" (click)="setSortBy('timereceived')">Time<br> received
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='timereceived'"></app-sort-order>
            </th>
            <th class="table__resolved-by" scope="col" (click)="setSortBy('resolvedby')">Resolved<br> By
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='resolvedby'"></app-sort-order>
            </th>
            <th class="table__resolution" scope="col" (click)="setSortBy('callaction')">Resolution
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='callaction'"></app-sort-order>
            </th>
            <th class="table__id" scope="col" (click)="setSortBy('id')">Call Number
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='id'"></app-sort-order>
            </th>
            <th class="table__note" scope="col" (click)="setSortBy('note')">Note
                <app-sort-order [sortOrder]="sortOrder" *ngIf="sortBy==='note'"></app-sort-order>
            </th>
        </tr>
    </thead>
</table>
<div class="scrolled-table" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <table class="table table--resolved">
        <tbody>
            <tr *ngFor="let call of calls">
                <td class="table__response-time"><span [class]="call.response_time <= 6 ? 'icon color-state-success' : call.response_time <= 12 ? 'icon color-state-warning' : 'icon color-state-danger'">
                  <i class="fas fa-stopwatch"></i></span> {{call.response_time | amDuration:'minutes'}}</td>
                <td class="table__room">{{call.patient.room_number}}</td>
                <td class="table__patient">{{call.patient.patient_name}}</td>
                <td [class]="'table__type call-type-' + call.call_types_id"><span class="icon"><i class="fal fa-bell"></i></span> {{call.call_type.short_name}}</td>
                <td class="table__time-received">{{call.date | amFromUnix | amDateFormat:'MM/DD/YYYY hh:mmA'}}</td>
                <td class="table__resolved-by"><span class="resolved-by" *ngIf="call.user">{{call.user.user_name}}</span>
                    <span class="resolved-by" *ngIf="!call.user && call.call_actions_id === 3">Patient</span>
                </td>
                <td class="table__resolution">{{call.call_action.name}}</td>
                <td class="table__id">{{call.id}}</td>
                <td class="table__note">
                    <button *ngIf="call.note" placement="left" [ngbPopover]="call.note" app-handlePopoverClose>
                      <i class="fal fa-sticky-note"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="calls-empty" *ngIf="!calls.length">
    <span class="calls-empty__icon"><i class="fal fa-search"></i></span>
    <div class="calls-empty__text">There aren't any results for that query.</div>
</div>