//--- Buttons
.btn{
  height: 40px;
  border-radius: 4px;
  border: 2px solid;
  box-shadow: 0 1px 3px 0 rgba($color-black, 0.08), 0 4px 6px 0 rgba(50, 50, 93, 0.11);
  @include fsz(14px);
  text-transform: uppercase;
  font-weight: $bold;
  vertical-align: middle;
  @at-root a#{&}{
    padding: 10px;
  }
  &:focus{
    text-decoration: none;
  }
  &.btn-sm{
    height: 30px;
    border: none;
    @include fsz(13px);
    text-transform: none;
    font-weight: $regular;
    padding: 5px 6px;
  }
  &.btn-180{
    width: 180px;
  }
  &.btn-150{
    width: 150px;
  }
  &.btn-100{
    width: 100px !important;
  }
  &.btn-80{
    width: 80px;
  }
  &.btn-icon{
    text-align: left;
    .icon, + .icon{
      transition: inherit;
      display: inline-block;
      margin-right: 1px;
    }
  }
  &.btn-default{
    background: $btn-default-bg-color;
    color: $btn-default-text-color;
    @at-root input#{&}{
      cursor: text !important;
      font-weight: $bold;
      color: $filter-text-color-active;
      @include placeholder{
        color: $filter-label-color-active;
        opacity: 1;
        font-weight: $regular;
      }
      &:hover{
        text-shadow: none !important;
        color: $filter-text-color-active;
      }
      &:focus{
        box-shadow: 0 1px 3px 0 rgba($color-black, 0.08), 0 4px 6px 0 rgba(50, 50, 93, 0.11) !important;
        ~ .filter-item__label{
          color: $filter-label-color-active;
        }
      }
    }
    .icon, + .icon{
      color: $btn-icon-color;
    }
    &:hover{
      color: $btn-default-text-color-hover;
      transform: translateY(-1px);
      box-shadow: 0 3px 6px 0 rgba($color-black, 0.08), 0 7px 14px 0 rgba(50, 50, 93, 0.1);
      text-shadow: 0.2px 0.2px 0px $btn-default-text-color-hover;
      .icon{
        color: $btn-icon-color-hover;
      }
    }
  }
  &.btn-link{
    box-shadow: none;
    color: $btn-link-color;
    padding: 5px 0;
    span{
      vertical-align: middle;
    }
    &:hover{
      text-decoration: none;
      color: $btn-link-color-hover;
    }
  }
  &.btn-danger{
    &:hover, &:active, &:focus{
      color: $color-state-danger;
      background: none;
      box-shadow: none !important;
    }
  }
  &.btn-outline-primary{
    background: $btn-primary-outline-bg-color;
    color: $btn-primary-outline-text-color;
    &:hover{
      background: $btn-primary-outline-bg-color-hover;
    }
  }
  &.btn-primary{
    background: $btn-primary-bg-color;
    border-color: transparent;
    color: $btn-primary-text-color;
    &:hover{
      background: rgba($btn-primary-bg-color, 0.75);
    }
  }
  &:disabled{
    font-weight: $regular;
    background: $btn-bg-color-disabled;
    border-color: $btn-bg-color-disabled;
    cursor: default;
    box-shadow: 0 1px 2px 0 rgba($color-black, 0.2);
    color: $btn-text-color-disabled;
    opacity: 1;
    &:hover{
      background: $btn-bg-color-disabled;
      transform: none;
      box-shadow: 0 1px 2px 0 rgba($color-black, 0.2);
    }
  }
}

//--- Form elements
.form-control{
  height: 40px;
  @include fsz(14px);
  &--underlined{
    border: none;
    border-radius: 0;
    padding: 0 4px;
    background: linear-gradient(to bottom, rgba($input-bg-color-default,1) 0%,rgba($input-bg-color-default,1) 97%,rgba($input-border-color-default,1) 98%,rgba($input-border-color-default,1) 100%);
    color: $input-text-color-default;
    font-weight: $regular;
    @include placeholder{
      color: $input-text-color-placeholder;
      opacity: 1;
      font-weight: $light;
    }
    &:focus{
      background: linear-gradient(to bottom, rgba($input-bg-color-default,1) 0%,rgba($input-bg-color-default,1) 95%,rgba($input-border-color-active,1) 96%,rgba($input-border-color-active,1) 100%);
    }
    &.is-invalid{
      background: linear-gradient(to bottom, rgba($color-state-danger,0.03) 0%,rgba($color-state-danger,0.03) 95%,rgba($color-state-danger,1) 96%,rgba($color-state-danger,1) 100%);
    }
  }
  @at-root textarea#{&}{
    height: 120px;
    resize: none;
    padding-top: 8px;
    padding-bottom: 8px;
    &--underlined{
      background: linear-gradient(to bottom, rgba($input-bg-color-default,1) 0%,rgba($input-bg-color-default,1) 99%,rgba($input-border-color-default,1) 99%,rgba($input-border-color-default,1) 100%);
      &:focus{
        box-shadow: none;
        background: linear-gradient(to bottom, rgba($input-bg-color-default,1) 0%,rgba($input-bg-color-default,1) 98%,rgba($input-border-color-active,1) 98%,rgba($input-border-color-active,1) 100%);
      }
      &.is-invalid{
        background: linear-gradient(to bottom, rgba($color-state-danger,0.03) 0%,rgba($color-state-danger,0.03) 98%,rgba($color-state-danger,1) 98%,rgba($color-state-danger,1) 100%);
      }
    }
  }
  &--labeled{
    @include placeholder{
      opacity: 0;
    }
    + label{
      @include center-v();
      left: 4px;
      color: $label-text-color;
      margin-bottom: 0;
      @include fsz(14px);
      font-weight: $light;
      @include transition(100ms transform);
    }
    &:focus, &.is_filled{
      + label{
        top: auto;
        transform: none;
        bottom: -12px;
        left: 0;
        @include fsz(10px);
        font-weight: $regular;
      }
    }
    @at-root select#{&}{
      -moz-appearance: none;
      -webkit-appearance:none;
      &::-ms-expand {
        display: none;
      }
      + label{
        pointer-events: none;
      }
      &:not(.is-empty){
        + label{
          top: auto;
          transform: none;
          bottom: -12px;
          left: 0;
          @include fsz(10px);
          font-weight: $regular;
        }
        &:focus{
          + label{
            top: auto;
            transform: none;
            bottom: -12px;
            left: 0;
            @include fsz(10px);
            font-weight: $regular;
          }
        }
      }
      &:focus{
        box-shadow: none;
        + label{
          @include center-v();
          left: 4px;
          bottom: auto;
          @include fsz(14px);
          font-weight: $light;
        }
      }
      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 $color-black;
      }
      & ~ .icon{
        @include center-v();
        @include fsz(18px);
        color: $label-text-color;
        right: 8px;
      }
    }
  }
  ~ .password-eye{
    @include center-v();
    @include fsz(18px);
    color: $label-text-color;
    right: 4px;
    cursor: pointer;
  }
}
.form-group{
  margin-bottom: 15px;
  position: relative;
  &--margin-lg{
    margin-bottom: 45px;
  }
}

//--- Checkboxes
.form-check{
  position: relative;
  padding-left: 0;
}
.form-check-input{
  display: none;
  &[type="radio"] + .form-check-label{
    &:before, &:after{
      border-radius: 50%;
    }
  }
  &:checked{
    + .form-check-label{
      font-weight: $regular;
      &:before{
        background: none;
      }
      &:after{
        transform: none;
      }
    }
  }
}
.form-check-label{
  @include fsz(14px);
  font-weight: $light;
  color: $checkbox-text-color;
  padding-left: 20px;
  @include transition(150ms);
  cursor: pointer;
  position: relative;
  &:before{
    content: '';
    width: 14px;
    height: 14px;
    background: $input-bg-color-default;
    border: 1px solid $input-border-color-default;
    position: absolute;
    left: 0;
  }
  &:after{
    content: '';
    width: 10px;
    height: 10px;
    background: $checkbox-active-color;
    position: absolute;
    left: 2px;
    top: 2px;
    @include transition(150ms);
    transform: scale(0);
  }
}

.message {
  @include fsz(13px);
  margin-bottom: 15px;
  &.error {
    color: $color-state-danger;
  }
}


//--- Filters
.filter-item {
  min-width: 120px;
  margin-right: 25px;
  position: relative;
  &--radio{
    .btn{
      &:not(.all-range-selected){
        font-weight: $bold;
        color: $filter-text-color-active;
        ~ .filter-item__label{
          color: $filter-label-color-active;
        }
      }
      &.all-range-selected{
         ~ .dropdown-menu{
           .dropdown-item{
             &:first-of-type{
               .form-check-label{
                 color: $filter-clear-text-color;
                 pointer-events: none;
                 user-select: none;
               }
             }
           }
         }
      }
    }
    .dropdown-item{
      &:first-of-type{
        .form-check-label{
          padding-left: 0;
          color: $filter-clear-text-color-active;
          pointer-events: auto;
          user-select: auto;
          text-indent: -9999px;
          &:before{
            display: none;
          }
          &:after{
            content: 'Clear Filter';
            width: auto;
            height: auto;
            background: none;
            transform: none;
            text-indent: 0;
          }
        }
      }
    }
  }
  &__label {
    width: 42px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include fsz(13px);
    background: $filter-label-bg-color;
    color: $filter-label-text-color;
    border-radius: 4px 0 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition(150ms);
  }
  .btn{
    width: 100%;
    padding-left: 48px;
    box-shadow: 0 1px 2px 0 rgba(15, 16, 18, 0.25);
    margin-bottom: 0;
    line-height: 1.6;
    &:hover{
      transform: none;
    }
  }
  .filter-item-selected{
    font-weight: $bold;
    color: $filter-text-color-active;
    &:hover{
      text-shadow: none;
    }
    ~ .filter-item__label{
      color: $filter-label-color-active;
    }
  }
  .btn-icon{
    padding-right: 25px;
    &:after{
      display: none;
    }
    span, + span{
      @include center-v();
      right: 4px;
      line-height: 0;
    }
  }
  input.btn-icon{
    width: 120px;
  }
  .dropdown-menu{
    min-width: auto;
    width: 100%;
    border: none;
    box-shadow: 0 1px 3px 0 rgba($color-black, 0.08), 0 4px 6px 0 rgba(50, 50, 93, 0.11);
    margin-top: 3px;
    padding-top: 3px;
  }
  .dropdown-item{
    padding: 6px 9px;
    &:hover{
      background: none;
    }
  }
  .form-check-label{
    font-weight: $regular;
  }
  &__check{
    .form-check-input{
      &:not(:checked){
        + label{
          color: $filter-text-color-active;
          font-weight: $bold;
          .icon{
            color: inherit;
          }
          &:hover{
            color: $filter-text-color-active;
          }
        }
      }
    }
    label{
      &:hover{
        text-shadow: none;
      }
    }
    .btn{
      text-align: left;
    }
  }
}

// Popover
.popover{
  margin-right: 12px;
  margin-top: -3px;
  @include fsz(13px);
  line-height: 1.2;
  max-width: 230px;
  box-shadow: 0 1px 3px 0 rgba($color-black, 0.08), 0 4px 6px 0 rgba(50, 50, 93, 0.11);
  border-color: $color-mischka;
  &.bs-popover-left .arrow:before{
    border-left-color: $color-french-gray;
  }
  @include respond-to(md){
    @include fsz(12px);
  }
}
