.modal-dialog{
  width: 525px;
  max-width: none;
}
.modal-content{
  border-radius: 8px;
  box-shadow: 0 2px 10px 1px rgba($color-black, 0.1);
  border: none;
}
.modal-header{
  border-bottom: 0;
  .close{
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 0;
    margin: 0;
    @include fsz(28px);
  }
}
.modal-body{
  padding: 0;
  .message{
    position: absolute;
    bottom: -18px;
    margin-bottom: 0;
  }
}
.modal-footer{
  border-top: 0;
  padding-bottom: 35px;
}
