html{
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
	font-size: 16px;
  text-rendering: optimizeLegibility;
	overflow-x: hidden;
}
input:focus{
	box-shadow: none !important;
}
* {
	&:hover, &:focus, &:active {
		outline: none !important;
	}
}
a:hover, a:focus, a:visited {
	text-decoration: none;
	outline: none;
	outline-offset: 0;
}
ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
