.table {
  border: none;
  table-layout: fixed;
  margin-bottom: 0;
  thead{
    box-shadow: 0 1px 2px 0 rgba($color-black, 0.26);
    background: $table-head-bg-color;
    th{
      @include fsz(13px);
      text-transform: uppercase;
      font-weight: $regular;
      height: 37px;
      padding: 10px;
      color: $table-head-text-color;
      cursor: pointer;
      border: none;
      vertical-align: middle;
      white-space: nowrap;
      @include respond-to(lg){
        padding: 10px 5px;
      }
      @include respond-to(md){
        @include fsz(11px);
        text-transform: none;
        letter-spacing: -0.5px;
      }
      &:first-of-type{
        padding-left: 30px;
        @include respond-to(lg){
          padding-left: 15px;
        }
      }
      br{
        display: none;
      }
      span{
        @include fsz(11px);
        margin-left: 1px;
        @include respond-to(md){
          @include fsz(9px);
        }
      }
    }
  }
  tbody{
    tr{
      td{
        border-top: 0;
        border-bottom: 1px solid $table-row-border-color;
        @include fsz(14px);
        padding: 9px 10px;
        height: 50px;
        vertical-align: middle;
        @include truncateText();
        @include respond-to(lg){
          padding: 9px 5px;
        }
        @include respond-to(md){
          @include fsz(12px);
        }
        &:first-of-type{
          padding-left: 30px;
          @include respond-to(lg){
            padding-left: 15px;
          }
        }
        .btn{
          @include respond-to(md){
            @include fsz(12px);
          }
          + .btn{
            margin-left: 40px;
          }
        }
        .icon{
          @include fsz(12px);
          margin-right: 1px;
          @include respond-to(md){
            @include fsz(11px);
          }
          &.stopwatch-red{
            color: $color-state-danger;
          }
          &.stopwatch-amber{
            color: $color-state-warning;
          }
          &.resolved-by{
            font-size: inherit;
          }
        }
      }
    }
  }
  &__response-time{
    width: 14%;
  }
  &__time-lapsed{
    width: 12%;
    @include respond-to(lg){
      width: 14%;
    }
    @include respond-to(md){
      width: 16%;
    }
  }
  &__room{
    width: 14%;
  }
  &__patient{
    width: 13%;
  }
  &__type{
    width: 10%;
  }
  &__time-received{
    width: 14%;
    @include respond-to(lg){
      width: 14%;
    }
    @include respond-to(md){
      width: 16%;
    }
  }
  &__action{
    width: 14%;
    cursor: default !important;
    @include respond-to(md){
      width: 16%;
    }
  }
  &__resolved-by{
    width: 12%;
  }
  &__resolution{
    width: 10%;
  }
  &__id{
    width: 9%;
  }
  &__social{
    width: 12%;
  }
  &__role{
    width: 12%;
  }
  &--resolved{
    .table__room{
      width: 12%;
      @include respond-to(lg){
        width: 10%;
      }
    }
  }
}
