body{
	font-family: $font-main;
	color: $text-color;
	background: $body-bg-color;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	@include transition(150ms);
	text-decoration: none;
	padding: 0;
	margin: 0;
	&:hover, &:focus {
		text-decoration: none;
	}
}
button{
	@include transition(150ms);
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	cursor: pointer;
}

.call-type-1 {
  color: $color-calls-filter-1;
}
.call-type-2 {
  color: $color-calls-filter-2;
}
.call-type-3 {
  color: $color-calls-filter-3;
}
.call-type-4 {
  color: $color-calls-filter-4;
}
.call-type-5 {
  color: $color-calls-filter-5;
}

.color-state-danger{
	color: $color-state-danger;
}
.color-state-success{
	color: $color-state-success;
}
.color-state-warning{
	color: $color-state-warning;
}
