//--- Variables
//--- Transition Variables
$transition-quartic: cubic-bezier(.9,.03,.69,.22);
$transition-backward: cubic-bezier(.68,-0.55,.27,1.55);

//--- Color Variables
$color-primary: #093bbc;
$color-accent-light: #2196f3;
$color-mischka: #e3e3e6;
$color-french-gray: #cfcfd3;
$color-rolling-stone: #7b7f82;
$color-athens-gray: #f6f6f7;
$color-mine-shaft: #242424;
$color-oslo-gray: #909598;
$color-martinique: #333853;
$color-woodsmoke: #0f1012;
$color-black: #000;
$color-white: #fff;

//--- Call Filter Colors (from first to last)
$color-calls-filter-1: #ff30a0;
$color-calls-filter-2: #ffb800;
$color-calls-filter-3: #7d2ef9;
$color-calls-filter-4: #37b0ff;
$color-calls-filter-5: #687a96;

//--- States
$color-state-success: #33c15d;
$color-state-warning: #fdbd02;
$color-state-danger: #f3272d;

//--- Main Body variables
$text-color: $color-mine-shaft;
$body-bg-color: $color-athens-gray;
$container-bg-color: $color-white;

//-- Dashboard Variables
$dashboard-navbar-bg-color: $color-martinique;
$dashboard-navbar-link-color: $color-athens-gray;

$dashboard-aside-link-color: $color-martinique;
$dashboard-aside-link-color-active: $color-primary;

$dashboard-filter-button-color: $color-martinique;
$dashboard-filter-button-bg-color-active: $color-athens-gray;

//-- Table Variables
$table-head-bg-color: $color-athens-gray;
$table-head-text-color: $color-mine-shaft;
$table-row-border-color: $color-mischka;

//-- Resolve Modal Variables
$resolve-patient-bg-color: $color-athens-gray;
$resolve-form-heading-color: $color-primary;

$resolve-message-color: $color-primary;

//-- Person Modal Variables
$person-header-color: $color-primary;
$modal-footer-border-color: $color-french-gray;
//--- Button variables
$btn-default-bg-color: $color-white;
$btn-default-text-color: $color-mine-shaft;
$btn-default-text-color-hover: $color-mine-shaft;
$btn-icon-color: $color-oslo-gray;
$btn-icon-color-hover: $color-martinique;

$btn-primary-outline-bg-color: transparent;
$btn-primary-outline-text-color: $color-primary;
$btn-primary-outline-bg-color-hover: $color-athens-gray;

$btn-primary-bg-color: $color-primary;
$btn-primary-text-color: $color-white;

$btn-bg-color-disabled: $color-athens-gray;
$btn-text-color-disabled: $color-oslo-gray;

$btn-link-color: $color-mine-shaft;
$btn-link-color-hover: $color-primary;

$filter-label-bg-color: $color-athens-gray;
$filter-label-text-color: $color-rolling-stone;
$filter-label-color-active: $color-mine-shaft;
$filter-text-color-active: $color-primary;
$filter-clear-text-color: $color-french-gray;
$filter-clear-text-color-active: $color-primary;

//--- Input Variables
//-- underlined
$input-border-color-default: $color-oslo-gray;
$input-bg-color-default: $color-athens-gray;
$input-text-color-default: $color-mine-shaft;
$input-border-color-active: $color-primary;

$input-text-color-placeholder: $color-oslo-gray;
$label-text-color: $color-oslo-gray;

//-- rounded
$input-border-color-rounded: $color-french-gray;
$input-bg-color-rounded: $color-athens-gray;
$input-placeholder-color-rounded: $color-french-gray;
$input-border-color-rounded-active: $color-primary;
$input-text-color-rounded: $color-martinique;

//-- Checkboxes and Radio
$checkbox-text-color: $color-mine-shaft;
$checkbox-active-color: $color-primary;

//--- Fonts Variables
$font-main: 'Source Sans Pro', sans-serif;
$light: 300;
$regular: 400;
$bold: 600;
