<div class="modal-header">
    <div class="person-header mx-auto text-center">
        <div class="person-header__icon"><i class="fal fa-user-md"></i></div>
        <h3 class="person-header__heading" *ngIf="action==='new'">Add New User</h3>
        <h3 class="person-header__heading" *ngIf="action==='edit'">Edit User</h3>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <i class="fal fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" class="person-form">
        <div class="row">
          <div class="col-6">
            <div class="form-group form-group--margin-lg">
                <input type="text" class="form-control form-control--underlined form-control--labeled" [ngClass]="{'is-invalid': form.controls.first_name.invalid && form.controls.first_name.dirty, 'is_filled': form.value.first_name}" id="inputFirstName" formControlName="first_name"
                    placeholder="First name">
                <label for="inputFirstName">First Name</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group form-group--margin-lg">
                <input type="text" class="form-control form-control--underlined form-control--labeled" [ngClass]="{'is-invalid': form.controls.last_name.invalid && form.controls.last_name.dirty, 'is_filled': form.value.last_name}" id="inputLastName" formControlName="last_name" placeholder="Last name">
                <label for="inputLastName">Last Name</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group form-group--margin-lg">
                <input type="text" class="form-control form-control--underlined form-control--labeled" [ngClass]="{'is-invalid': form.controls.email.invalid && form.controls.email.dirty, 'is_filled': form.value.email}" id="inputEmail" formControlName="email" placeholder="Email Address">
                <label for="inputEmail">Email Address</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group form-group--margin-lg">
                <input #inputPassword type="password" class="form-control form-control--underlined form-control--labeled" [ngClass]="{'is-invalid': form.controls.password.invalid && form.controls.password.dirty, 'is_filled': form.value.password}" id="inputPassword" formControlName="password" placeholder="Password">
                <label for="inputPassword">Password</label>
                <span *ngIf="inputPassword.type==='text'" class="password-eye" (click)="inputPassword.type='password'"><i class="fal fa-eye-slash"></i></span>
                <span *ngIf="inputPassword.type==='password'" class="password-eye" (click)="inputPassword.type='text'"><i class="fal fa-eye"></i></span>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group form-group--margin-lg">
                <select #chooseRole class="form-control form-control--underlined form-control--labeled" id="selectRole" [ngClass]="{'is-invalid': form.controls.role.invalid && form.controls.role.dirty, 'is-empty': !form.controls.role.value}" formControlName="role">
                  <option hidden value="" disabled ></option>
                  <option *ngFor="let role of userRoles" [value]="role.id">{{role.name}}</option>
                </select>
                <label for="selectRole">Role</label>
                <span class="icon"><i class="fal fa-chevron-down"></i></span>
            </div>
          </div>
        </div>
    </form>
</div>
<div class="modal-footer justify-content-center align-items-stretch flex-column">
    <div class="text-center">
        <button *ngIf="action==='new'" type="button" class="btn btn-primary btn-180" (click)="addStaff()">Add User</button>
        <button *ngIf="action==='edit'" type="button" class="btn btn-primary btn-180" (click)="editStaff()">Update</button>
    </div>
    <div class="modal-footer__additional d-flex justify-content-center" *ngIf="action==='edit'">
        <button *ngIf="staff.user_statuses_id !== 1" (click)="onActive()" type="button" class="btn btn-sm btn-icon btn-link">
            <span class="icon"><i class="fal fa-sm fa-arrow-right"></i></span>
            <span>Make active</span>
        </button>
        <button *ngIf="staff.user_statuses_id !== 2" (click)="onInactive()" type="button" class="btn btn-sm btn-icon btn-link">
          <span class="icon"><i class="fal fa-sm fa-arrow-right"></i></span>
          <span>Make inactive</span>
        </button>
        <button *ngIf="staff.user_statuses_id !== 3" type="button" class="btn btn-sm btn-icon btn-link btn-danger" (click)="onRemove()">
          <span class="icon"><i class="fal fa-sm fa-trash"></i></span>
          <span>Remove</span>
        </button>
    </div>
</div>
