<div class="calls-filter d-flex align-items-center calls-filter--lg-centered">
    <span class="calls-filter__text">Filter patients</span>

    <div class="d-inline-block filter-item">
        <div class="form-check filter-item__check" [class.filter-item-selected]="statusButtonTitle==='Active'">
            <input class="form-check-input" #statusFilter type="checkbox" id="statusFilter" [checked]="statusButtonTitle==='All'" (change)="setStatus(statusFilter.checked)">
            <label class="btn btn-sm btn-default btn-icon" for="statusFilter">
              {{statusButtonTitle}}
              <span *ngIf="statusButtonTitle==='All'" class="icon"><i class="fal fa-sm fa-toggle-off"></i></span>
              <span *ngIf="statusButtonTitle==='Active'" class="icon"><i class="fal fa-sm fa-toggle-on"></i></span>
            </label>
        </div>
        <span class="filter-item__label">Status</span>
    </div>

    <div class="search-wrap ml-auto">
        <span class="filter-quantity">{{patientsNumber}}
          <span *ngIf="statusButtonTitle==='Active'">Active</span> Patient{{patientsNumber !== 1 ? 's' : ''}}
        </span>
        <button type="button" class="btn btn-sm btn-default btn-icon btn-100" (click)="onNewPatient()"><span class="icon"><i class="fal fa-user-plus fa-sm"></i></span> New Patient</button>
        <div class="search-input">
            <input type="text" #searchBox (keyup)="changeSearch(searchBox.value)" class="form-control" placeholder="Search Patients">
            <span class="search-icon">
              <i class="fal fa-search"></i>
            </span>
        </div>
    </div>
</div>