// Import Base Styles
@import 'src/sass/styles.scss';
.modal-header {
  padding: 18px 15px 15px;
  &__resolve{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @include fsz(20px);
    font-weight: $bold;
  }
  &__resolve-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 8px;
    img{
      height: 100%;
    }
  }
}
.resolve-patient {
  background: $resolve-patient-bg-color;
  padding: 8px 70px;
  @include fsz(20px);
  font-weight: $bold;
  line-height: 1.2;
  margin-bottom: 28px;
  div{
    max-width: 65%;
    span{
      white-space: nowrap;
    }
  }
}
.resolve-form {
  padding: 0 70px;
  &__heading {
    @include fsz(20px);
    color: $resolve-form-heading-color;
    margin-bottom: 15px;
  }
  &__checkboxes{
    margin-bottom: 35px;
    > div{
      width: 100px;
    }
  }
}
