<div class="modal-header">
    <div [className]="'modal-header__resolve call-type-' + call.call_type.id">
        <div class='modal-header__resolve-icon'><img [src]="'assets/imgs/' + call.call_type.icon_name" /></div>
        <span>{{call.call_type.title}}</span>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <i class="fal fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <div class='resolve-patient d-flex justify-content-between align-items-center'>
        <div>Patient: <span>{{call.patient.patient_name}}</span></div>
        <div>Room no: {{call.patient.room_number}}</div>
    </div>
    <form [formGroup]="form" class="resolve-form">
        <h3 class='resolve-form__heading'>Select Resolution:</h3>
        <div class="resolve-form__checkboxes d-flex justify-content-between">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="actionId" id="actionResolved" value="2">
                <label class="form-check-label" for="actionResolved">Resolved</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="actionId" id="actionCanceled" value="3">
                <label class="form-check-label" for="actionCanceled">Canceled</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="actionId" id="actionOther" value="4">
                <label class="form-check-label" for="actionOther">Other</label>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control form-control--underlined" placeholder="Enter Note" [ngClass]="{'is-invalid': form.controls.note.invalid && form.controls.note.dirty}" formControlName="note" rows="4"></textarea>
        </div>
        <div class='message' *ngIf="form.invalid" [ngClass]="{'error': form.controls.note.invalid && form.controls.note.dirty}">
            <div>Note is required</div>
        </div>
    </form>
</div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-primary btn-180" (click)="resolveCall()">Submit</button>
</div>
