<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-toolbar class="home-title">
        <div float-left class="patient-name">
            {{patient.first_name}} {{patient.last_name}}
        </div>
        <ion-buttons right>
            <button ion-button icon-only (click)="logoutDialog()">
                <img class="exit-icon" src='./assets/imgs/exit.svg'>
              </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar class="home-subtitle">
        <div float-left class="patient-room">
            Room: {{patient.room_number}}
        </div>
    </ion-toolbar>
</ion-header>


<ion-content>
    <p class="message">If there is anything you need just hit a call button below</p>
    <ion-card *ngFor="let type of callTypes" [className]="'card-' + type.id" (click)="callRequest(type)">
        <div class='call-icon'><img src='./assets/imgs/{{type.icon_name}}'></div>
        <div class='call-content'>
            <div class='call-subtitle'>{{type.subtitle}}</div>
            <div class='call-title'>{{type.title}}</div>
        </div>
    </ion-card>
</ion-content>