page-home {
    ion-toolbar.home-title {
        padding-top: 40px !important;
        padding-bottom: 5px !important;
    }
    ion-toolbar.home-subtitle {
        padding-bottom: 27px !important;
    }
    ion-toolbar {
        .toolbar-background {
            background-color: #FFFFFF !important;
        }
        padding: 0px 20.5px !important;
        min-height: 0px !important;
        .exit-icon {
            height: 23px;
            width: 23px;
        }
        .patient-name {
            color: #282E33;
            font-family: 'sans-serif';
            font-size: 36px;
            font-weight: 900;
            line-height: 24px;
            text-align: center;
        }
        .patient-room {
            color: #6C7C93;
            font-family: 'sans-serif';
            font-size: 14px;
            line-height: 24px;
        }
    }
    ion-content .scroll-content {
        padding: 0px 20px !important;
        .message {
            color: #292E33;
            font-family: "sans-serif";
            font-size: 17px;
            line-height: 24px;
            margin-bottom: 10px;
        }
    }
    ion-card {
        height: 80px;
        border-radius: 10px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        padding-left: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        .call-icon {
            width: 50px;
            height: 50px;
            margin-right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .call-subtitle {
            color: #FFFFFF;
            font-family: "sans-serif";
            font-size: 20px;
            line-height: 24px;
        }
        .call-title {
            color: #FFFFFF;
            font-family: "sans-serif";
            font-size: 25px;
            font-weight: bold;
            line-height: 30px;
        }
    }
}