// Import Base Styles
@import 'src/sass/styles.scss';
.dashboard-navbar {
    box-shadow: 0 2px 5px 0 rgba($color-black, 0.32);
    height: 60px;
    background: $dashboard-navbar-bg-color;
    padding: 10px 20px 10px 15px;
    .navbar-brand {
        padding: 0;
        height: 37px;
        margin-right: 105px;
        @include respond-to(lg) {
            margin-right: auto;
        }
        img {
            height: 100%;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    &__menu-link {
        @include fsz(18px);
        font-weight: $light;
        color: $dashboard-navbar-link-color;
        border-bottom: 1px solid rgba($dashboard-navbar-link-color, 0.3);
        padding: 5px 9px 9px;
        &:hover {
            text-shadow: 0 0 1px $dashboard-navbar-link-color;
        }
        &.active {
            font-weight: $bold;
            border-bottom: 2px solid $dashboard-navbar-link-color;
            &:hover {
                text-shadow: none;
            }
        }
    }
    &__profile {
        color: $dashboard-navbar-link-color;
        padding: 0;
        @include fsz(15px);
        &:hover {
            opacity: 0.8;
        }
    }
    .dropdown-menu {
        background-color: $dashboard-navbar-bg-color;
        box-shadow: 0 2px 10px 1px rgba($color-black, 0.1);
        padding: 10px;
        margin-top: 7px;
        width: 140px !important;
        min-width: auto;
        margin-right: 8px;
        &:before{
          content: '';
          position: absolute;
          top: -8px;
          right: 17px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0px 9px 8px 9px;
          border-color: transparent transparent $dashboard-navbar-bg-color transparent;
        }
        .dropdown-item{
          @include fsz(14px);
          letter-spacing: 0.4px;
          color: $dashboard-navbar-link-color;
          padding: 5px 0;
          &:hover, &:focus{
            background: none;
            opacity: 0.8;
          }
          span{
            margin-right: 2px;
          }
        }
    }
}

.dashboard {
    padding-top: 60px;
    height: 100%;
}
