<nav class="navbar fixed-top dashboard-navbar d-flex justify-content-start">
    <a class="navbar-brand" href="#">
        <img src="assets/imgs/cc-logo-light.svg" alt="">
    </a>
    <div class="dashboard-navbar__menu d-flex">
        <a class="dashboard-navbar__menu-link" routerLink="/calls" routerLinkActive="active" role="button">Calls</a>
        <a class="dashboard-navbar__menu-link" *ngIf="currentUser.user && currentUser.user.user_roles_id===1" routerLink="/users" routerLinkActive="active" role="button">Users</a>
        <a class="dashboard-navbar__menu-link" *ngIf="currentUser.user && currentUser.user.user_roles_id===1" routerLink="/admin" routerLinkActive="active" role="button">Admin</a>
    </div>
    <div class="ml-auto" dropdown placement="bottom right">
        <a href id="profile-link" class="dashboard-navbar__profile" dropdownToggle (click)="false" aria-controls="dropdown-profile">
            <i class="fal fa-2x fa-user-circle"></i>
        </a>
        <ul id="dropdown-profile" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="profile-link">
            <li role="menuitem"><a class="dropdown-item" href (click)="logout()"><span><i class="fal fa-sign-out"></i></span> Logout</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/profile"><span><i class="fal fa-user"></i></span> Profile</a></li>
        </ul>
    </div>
</nav>
<div class="dashboard d-flex">
    <router-outlet></router-outlet>
</div>
