// Import Base Styles
@import 'src/sass/styles.scss';
.calls-filter {
  padding: 20px 25px 20px 5px;
  display: flex;
  @include respond-to(lg){
    padding: 15px 15px 20px;
    justify-content:  space-between;
    flex-wrap: wrap;
  }
	&__text {
    @include fsz(13px);
    font-weight: $bold;
    text-transform: uppercase;
    padding-left: 17px;
    text-align: right;
    line-height: 1.4;
    margin-right: 20px;
    @include respond-to(lg){
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
      padding-left: 0;
      br{
        display: none;
      }
    }
    @include respond-to(md){
      text-align: center;
      margin-bottom: 15px;
    }
	}
	&__button {
    padding: 3px 7px;
    @include fsz(14px);
    color: $dashboard-filter-button-color;
    width: 114px;
    margin-right: 8px;
    @include respond-to(lg){
      width: 110px;
      margin: 0;
    }
    &.filter-1 {
      color: $color-calls-filter-1;
    }
    &.filter-2 {
      color: $color-calls-filter-2;
    }
    &.filter-3 {
      color: $color-calls-filter-3;
    }
    &.filter-4 {
      color: $color-calls-filter-4;
    }
    &.filter-5 {
      color: $color-calls-filter-5;
    }
    &.active{
      background: $dashboard-filter-button-bg-color-active;
      box-shadow: 0 2px 4px 0 rgba($color-black, 0.2);
      border-radius: 2px;
      font-weight: bold;
    }
	}
	&__button-inner {
    display: block;
    border-left: 3px solid currentColor;
    padding-left: 9px;
    position: relative;
    .filter-icon{
      @include fsz(11px);
      position: absolute;
      right: 6px;
      top: 3px;
      @include respond-to(lg){
        right: 0;
      }
    }
	}
  .calls-count {
    display: block;
    @include fsz(24px);
    font-weight: $bold;
    line-height: 1.2;
    margin-top: 3px;
  }
}

.search-wrap{
  @include respond-to(md){
    margin-top: 15px;
    width: 100%;
    text-align: center;
  }
  .btn{
    margin-right: 13px;
  }
}
.search-input {
  position: relative;
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  @include respond-to(md){
    width: 100%;
    margin-top: 10px;
  }
  .form-control{
    background: $input-bg-color-rounded;
    box-shadow: 0 0 0 1px $input-border-color-rounded;
    border: none;
    color: $input-text-color-rounded;
    height: 30px;
    @include placeholder{
      color: $input-placeholder-color-rounded;
    }
    &:focus{
      box-shadow: 0 0 0 1px $input-border-color-rounded-active !important;
      + .search-icon{
        opacity: 0;
      }
    }
  }
}
.search-icon {
  position: absolute;
  right: 8px;
  top: 6px;
  @include fsz(18px);
  color: $input-placeholder-color-rounded;
  @include transition(150ms);
}
