<div class="calls-filter d-flex align-items-center">
    <div class="calls-filter__text">
        Filter<br> calls
    </div>
    <a class="calls-filter__button" routerLink="all" routerLinkActive="active" role="button">
        <span class="calls-filter__button-inner">
          All Open Calls
          <span class="calls-count">{{callsTotal.all || 0}}</span>
        </span>
    </a>
    <a class="calls-filter__button filter-1" routerLink="pain" routerLinkActive="active" #rla1="routerLinkActive" role="button">
        <span class="calls-filter__button-inner">
          Pain
        <span class="filter-icon" *ngIf="rla1.isActive"><i class="fas fa-bell"></i></span>
        <span class="filter-icon" *ngIf="!rla1.isActive"><i class="fal fa-bell"></i></span>
        <span class="calls-count">{{callsTotal.pain || 0}}</span>
        </span>
    </a>
    <a class="calls-filter__button filter-2" routerLink="bathroom" routerLinkActive="active" #rla2="routerLinkActive"  role="button">
        <span class="calls-filter__button-inner">
          Bathroom
          <span class="filter-icon" *ngIf="rla2.isActive"><i class="fas fa-bell"></i></span>
        <span class="filter-icon" *ngIf="!rla2.isActive"><i class="fal fa-bell"></i></span>
        <span class="calls-count">{{callsTotal.bathroom || 0}}</span>
        </span>
    </a>
    <a class="calls-filter__button filter-3" routerLink="drink" routerLinkActive="active" #rla3="routerLinkActive" role="button">
        <span class="calls-filter__button-inner">
          Drink
          <span class="filter-icon" *ngIf="rla3.isActive"><i class="fas fa-bell"></i></span>
        <span class="filter-icon" *ngIf="!rla3.isActive"><i class="fal fa-bell"></i></span>
        <span class="calls-count">{{callsTotal.drink || 0}}</span>
        </span>
    </a>
    <a class="calls-filter__button filter-4" routerLink="tvremote" routerLinkActive="active" #rla4="routerLinkActive" role="button">
        <span class="calls-filter__button-inner">
          TV/Remote
          <span class="filter-icon" *ngIf="rla4.isActive"><i class="fas fa-bell"></i></span>
        <span class="filter-icon" *ngIf="!rla4.isActive"><i class="fal fa-bell"></i></span>
        <span class="calls-count">{{callsTotal.tvRemote || 0}}</span>
        </span>
    </a>
    <a class="calls-filter__button filter-5" routerLink="question" routerLinkActive="active" #rla5="routerLinkActive"  role="button">
        <span class="calls-filter__button-inner">
          Question
          <span class="filter-icon" *ngIf="rla5.isActive"><i class="fas fa-bell"></i></span>
        <span class="filter-icon" *ngIf="!rla5.isActive"><i class="fal fa-bell"></i></span>
        <span class="calls-count">{{callsTotal.question || 0}}</span>
        </span>
    </a>
    <div class="search-wrap ml-auto">
        <div class="search-input">
            <input type="text" #searchBox (keyup)="changeSearch(searchBox.value)" class="form-control" placeholder="Search Calls">
            <span class="search-icon">
                <i class="fal fa-search"></i>
            </span>
        </div>
    </div>
</div>
