<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <div class='logo'>
        <img src="./assets/imgs/logo_cc.svg" class='center-block'>
    </div>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="login-form">
            <ion-list>
                <ion-item [ngClass]="{
                  'has-danger': form.controls.name.invalid && form.controls.name.dirty
                }">
                    <ion-input type="text" formControlName="name" placeholder="Full name"></ion-input>
                </ion-item>
                <ion-item [ngClass]="{
                  'has-danger': form.controls.lastFourSn.invalid && form.controls.lastFourSn.dirty || errorRequest && form.invalid
                }">
                    <ion-input type="tel" maxlength="4" formControlName="lastFourSn" placeholder="Last four of Social Security number"></ion-input>
                </ion-item>
            </ion-list>
            <div class='login-error' *ngIf="errorRequest && form.invalid">
                The information you have entered does match our records, please try again
            </div>
            <button ion-button block type="submit">Sign In</button>
        </div>
    </form>
</ion-content>