page-login {
    .logo {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 82px;
            display: block;
        }
    }
    .login-form {
        margin-left: 15%;
        margin-right: 15%;
        button {
            border-radius: 5px;
            background-color: #59D0FF;
        }
    }
    ion-list {
        margin-bottom: 20px !important;
    }
    ion-item {
        border: 1px solid #CBCBCB !important;
        border-radius: 5px !important;
        margin-bottom: 20px !important;
        width: auto !important;
        box-shadow: none !important;
        .item-inner {
            border-bottom: none !important;
            box-shadow: none !important;
        }
    }
    ion-item.has-danger {
        border: 1px solid #FF1633 !important;
        border-radius: 5px !important;
    }
    ion-input {
        color: #000000;
        font-family: 'sans-serif';
        font-size: 14px;
        line-height: 24px;
        height: 45px !important;
    }
    input:focus {
        outline: none !important;
    }
    .login-error {
        color: #DC1319;
        font-family: 'sans-serif';
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 20px
    }
    button {
        height: 45px !important;
        padding: 0px !important;
        font-family: "sans-serif";
    }
}