// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-card.card-1 {
    background-color: #FF30A0 !important;
}

ion-card.card-2 {
    background-color: #FFB800 !important;
    img {
        height: 50px;
        width: 30px;
    }
}

ion-card.card-3 {
    background-color: #7D2EF9 !important;
    img {
        height: 46px;
        width: 28.75px;
    }
}

ion-card.card-4 {
    background-color: #37B0FF !important;
    img {
        height: 40px;
        width: 40px;
    }
}

ion-card.card-5 {
    background-color: #687A96 !important;
    img {
        height: 42px;
        width: 42px;
    }
}