// Import Base Styles
@import 'src/app/users/patient-dialog/patient-dialog.component.scss';
:host {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-dialog{
      margin-top: -5%;
      @include respond-to(xxl){
        margin-top: -2%;
      }
    }
}
.modal-footer > :not(:first-child){
  margin-left: 0;
}
