<div class="modal-dialog">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="modal-content">
    <div class="modal-header">
      <div class='person-header mx-auto text-center'>
          <div class="person-header__icon"><i class="fal fa-user-circle"></i></div>
          <div class="person-header__heading">My Profile</div>
      </div>
    </div>
    <div class="modal-body">
      <div class="person-form">
        <div class="row">
          <div class="col-6">
            <div class="form-group form-group--margin-lg">
                <input type="text" class="form-control form-control--underlined form-control--labeled" [ngClass]="{'is-invalid': form.controls.first_name.invalid && form.controls.first_name.dirty, 'is_filled': form.value.first_name}" id="inputFirstName" formControlName="first_name" placeholder="First name">
                <label for="inputFirstName">First Name</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group form-group--margin-lg">
                <input type="text" class="form-control form-control--underlined form-control--labeled" [ngClass]="{'is-invalid': form.controls.last_name.invalid && form.controls.last_name.dirty, 'is_filled': form.value.last_name}" id="inputLastName" formControlName="last_name" placeholder="Last name">
                <label for="inputLastName">Last Name</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group form-group--margin-lg">
                <input type="text" class="form-control form-control--underlined form-control--labeled" [ngClass]="{'is-invalid': form.controls.email.invalid && form.controls.email.dirty, 'is_filled': form.value.email}" id="inputEmail" formControlName="email" placeholder="Email Address">
                <label for="inputRoomNumber">Email Address</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group form-group--margin-lg" *ngIf="userData.user && userData.user.user_roles_id === 1">
                <input #inputPassword type="password" class="form-control form-control--underlined form-control--labeled" [ngClass]="{'is-invalid': form.controls.password.invalid && form.controls.password.dirty, 'is_filled': form.value.password}" id="inputPassword" formControlName="password" placeholder="Password">
                <label for="inputPassword">Password</label>
                <span *ngIf="inputPassword.type==='text'" class="password-eye" (click)="inputPassword.type='password'"><i class="fal fa-eye-slash"></i></span>
                <span *ngIf="inputPassword.type==='password'" class="password-eye" (click)="inputPassword.type='text'"><i class="fal fa-eye"></i></span>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group form-group--margin-lg" [ngClass]="{'enter-screen__as-row': userData.user && userData.user.user_roles_id === 1}">
                <select #chooseRole class="form-control form-control--underlined form-control--labeled" id="selectRole" [ngClass]="{'is-invalid': form.controls.role.invalid && form.controls.role.dirty, 'is-empty': !form.controls.role.value}" formControlName="role">
                  <option hidden value="" disabled >Role</option>
                  <option *ngFor="let role of userRoles" [value]="role.id">{{role.name}}</option>
                </select>
                <label for="selectRole">Role</label>
                <span class="icon"><i class="fal fa-chevron-down"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-center align-items-stretch flex-column">
      <div class="text-center">
        <button *ngIf="userData.user && userData.user.user_roles_id === 1" class="btn btn-primary btn-180 enter-screen__submit" type="submit" [disabled]="inProcess">Update</button>
      </div>
      <button *ngIf="userData.user && userData.user.user_roles_id !== 1" class="btn btn-sm btn-default btn-icon btn-100 enter-screen__back-button" (click)="goBack()"><span class="icon"><i class="fal fa-sm fa-arrow-left"></i></span> Back</button>
    </div>
  </form>
</div>
