<div class="enter-screen__wrapper d-flex justify-content-center align-items-center">
    <div class="enter-screen">
        <div class='enter-screen__logo'>
            <img src="assets/imgs/logo_cc.svg">
        </div>
        <div *ngIf="isRequestSubmitted" class="enter-screen__request-submitted">
            <div class="check-submit success">
                <i class="fal fa-check-circle"></i>
            </div>
            <div class="submit-result">
                Request Submitted!
            </div>
            <div class="submit-message">
                Your access request has been submitted to the system admin.
            </div>
            <button class="btn btn-primary btn-block" (click)="goBack()">OK - GREAT!</button>
        </div>
        <div *ngIf="!isRequestSubmitted" class="enter-screen__title">
            <h2>
                Want to join?
            </h2>
            <p>
                Enter your name and email address below and submit. We will review your request and back to you soon.
            </p>
        </div>
        <form *ngIf="!isRequestSubmitted" [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="enter-screen__form">
                <div class="form-group">
                    <input type="text" class="form-control form-control--underlined" [ngClass]="{
                  'is-invalid': form.controls.name.invalid && form.controls.name.dirty
                }" formControlName="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control--underlined" [ngClass]="{
                  'is-invalid': form.controls.email.invalid && form.controls.email.dirty
                }" formControlName="email" placeholder="Email Address" required>
                </div>
                <div class='message error' *ngIf="errorRequest && form.controls.email.invalid">
                    <div>Please enter a valid email address.</div>
                </div>
                <button class="btn btn-primary btn-block" type="submit" [disabled]="inProcess">Submit</button>
                <div class="enter-screen__footer d-flex justify-content-between">
                    <button type="button" class="btn btn-sm btn-default btn-icon" (click)="goBack()"><span class="icon"><i class="fal fa-sm fa-chevron-circle-left"></i></span> Back</button>
                </div>
            </div>
        </form>
    </div>
</div>
